/*1-2*/
.interest-blue {
  background-color: #90caf9;
}
/*3-4*/
.interest-green {
  background-color: #a5d6a7;
}
/*5-6*/
.interest-yellow {
  background-color: #fff59d;
}
/*7-8*/
.interest-orange {
  background-color: #ffab91;
}
/*9*/
.interest-red {
  background-color: #e57373;
}
/*10*/
.interest-purple {
  background-color: #ce93d8;
}

.yellow-1 {
  background-color: #fffde7;
}
.yellow-2 {
  background-color: #fff9c4;
}
.yellow-3 {
  background-color: #fff59d;
}
.yellow-4 {
  background-color: #fff176;
}
.yellow-5 {
  background-color: #ffee58;
}

.blue-1 {
  background-color: #e8eaf6;
}
.blue-2 {
  background-color: #c5cae9;
}
.blue-3 {
  background-color: #9fa8da;
}
.blue-4 {
  background-color: #7986cb;
}
.blue-5 {
  background-color: #5c6bc0;
}
